
<div class="jumbotron">
  <h1 class="display-4">
    <%= t('activerecord.attributes.attribute_commons.helcome') %>
  </h1>
  <p class="lead"><%= t('presentation_text')%></p>
  <hr class="my-4">
  <p><%= t("instruction_text")%>:</p>
  <%= link_to Coin.model_name.human(count: 2), coins_path, class: "btn btn-primary btn-lg" %>
  <%= link_to MiningType.model_name.human(count: 2), mining_types_path, class: "btn btn-primary btn-lg" %>
</div>
