<h1>
  <%= t('activerecord.attributes.attribute_commons.helcome') %>
</h1>

<p>
  <%= t('activerecord.attributes.attribute_commons.language_used') %>:
  <strong><%= t('actual_lacale') %>!</strong>
</p>

<p><strong>Data:</strong> <%= l(Date.today) %></p>

<p><%= t('hello')%></p>

<%= render "menu" %>

<p>Você está em embiente de <strong><%= environment_rails %>!</strong></p>

<p>Eu sou uma variável de instância/sessão <strong><%= @name %></strong></p>

<p>Meu curso é o curos de <strong><%= @course %></strong></p>
