<h1>Seja Bem-vindo!</h1>

<p>O idiona utilizado nessa aplicação é: <strong><%= what_locale(I18n.locale) %></strong></p>

<p><strong>Data:</strong> <%= Date.today %></p>

<%= render "menu" %>

<p>Você está em embiente de <strong><%= environment_rails %>!</strong></p>

<p>Eu sou uma variável de instância/sessão <strong><%= @name %></strong></p>

<p>Meu curso é o curos de <strong><%= @course %></strong></p>
