<!DOCTYPE html>
<html long="pt">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>CryptoWallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-flash-messages="<%= JSON.dump(flash.to_a) %>">
    <div class="container-fluid">

      <ul class="nav justify-content-end">
        <li class="nav-item">
          <%= link_to "#{t('activerecord.attributes.mining_type.home')}", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%#= link_to "#{t('portuguese')}", root_path(locale: "pt-BR"), class: "nav-link" %>
          <a class="nav-link" href="<%= request.path %>?locale=pt-BR"><%= t('portuguese') %></a>
        </li>
        <li class="nav-item">
          <%#= link_to "#{t('english')}", root_path(locale: "en"), class: "nav-link" %>
          <a class="nav-link" href="<%= request.path %>?locale=en"><%= t('english') %></a>
        </li>
      </ul>

      <%= yield %>
    </div>
  </body>
</html>
