<!DOCTYPE html>
<html long="pt">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>CryptoWallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-flash-messages="<%= JSON.dump(flash.to_a) %>">
    <div class="container-fluid">

      <ul class="nav justify-content-end">

        <li class="nav-item">
          <%= link_to "Português", root_path(locale: "pt-BR"), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "English", root_path(locale: "en"), class: "nav-link" %>
        </li>

      </ul>

      <%= yield %>
    </div>
  </body>
</html>
