<!--p id="notice"><%#= notice %></p-->

<h1> <%= Coin.model_name.human(count: @coins.count) %> </h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th> <%= t('activerecord.attributes.coin.description') %> </th>
      <th> <%= t('activerecord.attributes.coin.acronym') %> </th>
      <th> <%= t('activerecord.attributes.coin.url_image') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.description %></td>
        <td><%= coin.acronym %></td>
        <td><%= image_tag coin.url_image, size: '25x25' unless coin.url_image.nil? %></td>
        <td><%= link_to t('activerecord.attributes.coin.show'), coin %></td>
        <td><%= link_to t('activerecord.attributes.coin.edit'), edit_coin_path(coin) %></td>
        <td><%= link_to t('activerecord.attributes.coin.destroy'), coin, method: :delete, data: { confirm: t('are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t('activerecord.attributes.coin.new_coin')}", new_coin_path, class: "btn btn-primary" %>
<%= link_to "#{t('activerecord.attributes.coin.home')}", root_path, class: "btn btn-primary" %>
