<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h1><%= t('activerecord.models.coin.one') %></h1>
    </div>
    <div class="card-body">
      <div>
        <strong><%= t('activerecord.attributes.coin.description') %>:</strong>
        <%= @coin.description %>
      </div>

      <div>
        <strong><%= t('activerecord.attributes.coin.acronym') %>:</strong>
        <%= @coin.acronym %>
      </div>

      <div>
        <strong><%= t('activerecord.attributes.coin.url_image') %>:</strong>
        <%= @coin.url_image %>
      </div>

      <div>
        <strong><%= t('activerecord.attributes.coin.mining_type') %>:</strong>
        <%= @coin.mining_type.description %>
      </div>
    </div>

    <div class="card-footer">
      <%= link_to "#{t('activerecord.attributes.attribute_commons.edit')}", edit_coin_path(@coin), class: "btn btn-primary" %>
      <%= link_to "#{t('activerecord.attributes.attribute_commons.back')}", coins_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
 